.container{
    background-color: rgb(247, 235, 237);
    height: 110vh;
    /* margin: 0 auto; */
    /* display: flex; */
}
.container h1{
    font-family: 'Playfair Display', serif;
    margin-left: 4em;
}

.history{
    font-family: 'Playfair Display', serif;
    width: 40%;
    padding: 1em;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: rgb(224, 206, 209);
    margin: 0 auto;
    color:rgb(74, 74, 110) ;
    border: 1px solid rgb(75, 75, 126);
    
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
}
.backarrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.dev{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: row;
}



.mestyle{
    display: flex;
    justify-content:center;
    gap: 2em;
}

.vewers{
    display: flex;
    align-items: center;
    gap: 1em;
}