.background {
  background-image: url("../public/images/dune.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background p{
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.balls{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%  ;

}

.one, .two, .three {
  margin: 20px;
  width: 50px;
  height: 49px;
  box-shadow: 0 24vh 10px 0 rgba(0,0,0,0), inset 0 15px 10px 0px rgba(255,255,255,0.2), inset 0 -12px 15px 0px rgba(0, 0, 0, 0.5);
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  animation: bounce 600ms cubic-bezier(.7,0,1,1) alternate infinite ;
}
.two {
  animation-delay: 400ms;
}
.three {
  animation-delay: 700ms;
}

@keyframes bounce {
  0% {
    transform: translate(0px, -19vh);
  }
  75% {
     height: 55px;
     width: 44px;
    margin: 20px;
    box-shadow: 0 24vh 10px 0 rgba(48, 46, 46, 0), inset 0 10px 9px 0px rgba(255,255,255,0.2), inset 0 -15px 17px 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translate(0px, 19vh);
     height: 30px;
     width: 60px;
    margin: 10px;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2), inset 0 5px 4px 0px rgba(255,255,255,0.2), inset 0 -5px 9px 0px rgba(0, 0, 0, 0.5);
  }
}






